# Evitamos que se registren los siguientes ficheros
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea

/fuel/app/config/crypt.php
public/assets/default/js/jquery-validation-1.11.0/*
*.TODO
*.org
*.zip
*.md
oil
build.xml
usmanhalalit-charisma-d29440e/*
# Elementos ignorados propios de fuelphp

fuel/app/logs/*/*/*
fuel/app/cache/*
fuel/core/*
fuel/packages/*
docs/*
*/.htaccess
